body{
Background: url(logos/otro.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-backgroud-size: cover;
Background-size: cover;
}
<link rel="fondo" href="imagen.css">